#container {
    display: flex;
    height: 100vh;
}

#simulation {
    flex: 1;
}

#stats {
    position: absolute;
    color: white;
}

#options {
    width: 250px;
    background-color: lightcoral; 
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow-y: auto;
}